<div class="container">
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a class="navbar-brand ms-4" href="#">
                <img src="https://www.medibuddy.in/assets/images/medibuddy-icon.png" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
                <span class="text-primary fw-semibold">Med</span><span class="text-danger fw-semibold">life</span>
            </a>
            <div class="text-end">
                <a class="text-decoration-none me-3 cursor">About-Us</a>
                <a class="text-decoration-none ms-2 cursor">Login</a>
            </div>
        </div>
    </nav>
</div>
